body
{
    font-size: 0.75em;
    text-align: center;
}

canvas
{
    border-style: solid;
    border-width: 2px;
}

div#debug
{
    border-style: groove;
    border-width: 1px;
    text-align: left;
}

div.threecolumn
{
    float: left;
    margin: 0;
    width: 33%;
    text-align: left;
}